/* footer */


/* .footer {
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    left: 0;
    bottom: 0;
} */

#containerLogin {
    text-align: center;
    width: 400px;
    height: 480px;
    padding-top: 35px;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(29, 28, 28);
    border-radius: 20px;
}

.form-group {
    margin: auto;
    padding: 40px;
    width: 370px;
}

#loginButton {
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid rgb(13, 47, 197);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}

#loginButton:hover {
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid rgb(16, 69, 184);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

#containerRegister {
    text-align: center;
    width: 920px;
    height: 510px;
    padding-top: 35px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 40px;
    background-color: rgb(29, 28, 28);
    border-radius: 20px;
}

#registerform1 {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 450px;
    right: 210px;
}

#registerform2 {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 450px;
    left: 210px;
    bottom: 395px;
}

#registerButton {
    font-size: 24px;
    position: relative;
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}

#registerButton:hover {
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid rgb(16, 69, 184);
    ;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

p {
    margin-top: 50px;
    color: rgb(16, 69, 184);
}

#register {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#register:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

#ticket {
    text-align: center;
    width: 960px;
    height: 710px;
    padding-top: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    background-color: rgb(29, 28, 28);
    border-radius: 20px;
}

#insertTicket {
    position: relative;
    margin: auto;
    padding: 25px;
    width: 450px;
    right: 250px;
}

#creaticket {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 350px;
    left: 210px;
    bottom: 400px;
    border-radius: 20px;
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}

#creaticket:hover {
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid rgb(16, 69, 184);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: solid black;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/* navbar */

.navbar-light .navbar-brand {
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-toggler {
    background: black;
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
    color: black;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

.body {
    background-color: gray;
}

p {
    margin-top: 50px;
    color: black;
}

a {
    text-decoration: none;
    color: rgb(16, 69, 184);
}

a:hover {
    text-decoration: underline;
    color: rgb(16, 69, 184);
}

.logo {
    width: 250px;
}

.nav-item:hover {
    color: black !important;
    text-shadow: 2px 2px 4px rgb(164, 151, 151);
}


/* categorie */

.btn {
    text-align: center;
    font-weight: bold;
    color: inherit;
    font-size: 17px;
}

.features-clean {
    color: #313437;
    background-color: #fff;
    margin-top: 100px;
    padding-bottom: 30px;
}

@media (max-width:767px) {
    .features-clean {
        padding-bottom: 10px;
    }
}

.features-clean p {
    color: #7d8285;
}

.features-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .features-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.features-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px;
}

@media (max-width:767px) {
    .features-clean .intro {
        margin-bottom: 40px;
    }
}

.features-clean .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .features-clean .item {
        min-height: 0;
    }
}

.features-clean .item .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}

.features-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.features-clean .item .icon {
    font-size: 40px;
    color: #1485ee;
    float: left;
    margin-left: -65px;
}

.icon {
    width: 40px;
    height: auto;
}


/* descrizione sito */


/* .descrizionesito {
    color: #313437;
    background-color: #fff;
    margin-top: 150px;
    padding-bottom: 30px;
}

.descrizionesito h1 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
    font-size: 30px;
}

@media (max-width:767px) {
    .descrizionesito h1 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.descrizionesito p {
    color: #7d8285;
} */


/* carosello */

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.c-image {
    width: 100%;
    height: auto;
    filter: brightness(0.50);
}


/* faq homepage*/

.faqtitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}


/* tabella cronologia ticket */

.tabella {
    margin-left: 20%;
    margin-right: 25%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 60%;
}

.header_cronologiaticket {
    padding-top: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* logout */

.logout_text {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logout_text:hover {
    color: #33353d;
}


/* container admin */

.containereAdminTicket {
    text-align: center;
    width: 500px;
    height: 290px;
    padding-top: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(29, 28, 28);
    border-radius: 20px;
}

.buttonTicket {
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid rgb(13, 47, 197);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}

.titoloclass {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}